.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    &__form{
        background-image: linear-gradient(to bottom right, #c7bd00, #00ff08);
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        color: #004e00;
        margin: 14px 0;
        font-weight: 800;
        text-align: center;
    }
    &__form-group{
        display: flex;
        flex-direction: column;
        margin: 8px 0;
        & label{
            font-size: 16px;
            color: #033e00;
        }
    }
    &__form-control {
        width: 500px;
        padding: 4px;
        color: #033e00;
        font-size: 16px;
        border: 1px solid #ced4da;
        outline-color: #fff200;
        border-radius: 0.25rem;
      }
      &__invalid-feedback {
        color: #dc3545;
        font-size: 14px;
      }
      &__is-invalid {
        border-color: #dc3545;
      }




      &__submit-btn {
        background-image: linear-gradient(to bottom right, #2d5e00, #5b7700);
        color: #ffff;
        padding: 8px;
        width: 40%;
        cursor: pointer;
        font-size: 18px;
        border-radius: 15px;
        margin: 12px 0;
        transition: all 0.5s;
      
        &:hover {
          background-image: linear-gradient(to bottom left, #2d5e00, #5b7700);
        }
      }
      
}